##
# The Default Ignores by Bill
# ===========================
# We ignore about X types of files
# or folders:
#
# - System hidden files
# - Developer preference files
# - Build artifacts
##

##
# System & Editor Files
##
.DS_Store
.sublime-project

##
# Environment preferences
##
.nvmrc

##
# Dependencies
##
node_modules/
server/public/vendor/

##
# Configuration and secrets
##
ecosystem.json

##
# Development files
##
*.sqlite3
knexfile.js
