{{!-- 500 Error page --}}
<div class="container">
  <div class="row-loose">
    <h1 class="h2 centered-text">Error</h1>
    <p>
      The following error occurred while processing your request:
    </p>
    <pre>{{error}}</pre>
  </div>
</div>
