<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title></title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="author" href="/humans.txt" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/style.css" />

  <!--[if lte IE 9]>
  <script src="/vendor/es5-shim/es5-shim.minjs"></script>
  <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
  <script src="/vendor/respond/dest/respond.min.js"></script>
  <![endif]-->

  <script>
    (function(d) {
      var config = {kitId: 'sef5dry',scriptTimeout: 3000,async: true},
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</head>

<body>
  {{>header}}

  {{{body}}}

  {{>footer}}

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/js/scripts.min.js"></script>
  {{> scripts}}
</body>
</html>
